.app {
  background: rgb(249, 250, 251);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  box-sizing: border-box;
  /* outline: 1px solid rgba(46, 139, 86, 0.33); */
}

.btn {
  border: 2px solid rgb(204, 204, 204);
  color: rgba(0, 0, 0, 0.54);
  min-width: 120px; /* ?? */
}

input[type=text],
input[type=email],
input[type=password]
 {
  outline: none;
}

::placeholder {
  /* color: rgb(211, 47, 47); */
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  /* color: rgb(211, 47, 47); */
}

::-ms-input-placeholder { /* Microsoft Edge */
  /* color: rgb(211, 47, 47); */
}

.mr-l-3 {
  margin-left: 30px;
}

.mr-r-3 {
  margin-right: 30px;
}

.error {
  color: rgb(211, 47, 47);
}